<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/" title="ride the spiral to the end. it may just go where no one's been.">{{ site.subtitle }}</a>

    <nav class="site-nav">
      <a class="page-link" href="{{ site.baseurl }}/">Log</a>
      <a class="page-link" href="{{ site.baseurl }}/log/archives/">Archives</a>
      <a class="page-link" href="{{ site.baseurl }}/about/">About</a>
      <a class="page-link" href="{{ site.baseurl }}/contact/">Contact</a>
      <a class="page-link rss-link" href="{{ site.baseurl }}/feed.xml" title="Subscribe via RSS feed"><img src="{{ site.baseurl }}/images/rss.png" alt="Subscribe via RSS feed"></a>
    </nav>
  </div>

</header>
