html {
	background-color: transparent;
}

body {
	border: none !important;
}

h1 {
	font-size: 250%;
}

div#footer {
	background-color: #fff;
}

a:link { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
a:active { color: #333; text-decoration: none; }
